* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#boards {
    display: flex;
    gap: 100px;
}

#player-board {
    width: 400px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#computer-board {
    width: 400px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#place-ships {
    width: 400px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    height: 50px;
    border: 1px solid black;
}

#computer-board .cell:hover {
    background-color: aquamarine;
}


#place-ships .cell:hover {
    background-color: aquamarine;
}

.ship {
    background-color: yellow;
}

.mark {
    background-color: lightgreen;
}

.mark.ship {
    background-color: lightcoral;
}

.hidden {
    visibility: hidden;
}