@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    background-color: #663300;
    color: beige;
    font-family: 'Bebas Neue', cursive;
}

header {
    font-size: 3rem;
    font-weight: 900;
}

#initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#inst {
    font-size: 2rem;
    font-weight: 700;
}

#ship-name {
    font-size: 2rem;
    font-weight: 400;
}

#winners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#round-winner {
    font-size: 2rem;
}

#boards {
    flex: 1;
    display: flex;
    gap: 100px;
}

#player-board,
#computer-board {
    width: 30rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#board-names {
    display:  flex;
    justify-content: space-between;

    width: 40rem;
}

.cell {
    height: 50px;
    border: 1px solid beige;
}

#player-board .cell:hover {
    cursor: pointer;
}

#computer-board .cell:hover {
    background-color: beige;
    cursor: pointer;
}

.ship {
    background-color: gray;
}

.mark {
    background-color: aqua;
    border: solid 1px black;
}

.mark.ship {
    background-color: lightcoral;
    border: 1px solid black;
}

.hidden {
    visibility: hidden;
}

select, button {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
}

select {
    font-size: 2rem;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
}

button {
    font-size: 2rem;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    border: none;
}